@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --dark-text: #1f2937;
    --dark-background: #1f2937;
    --quote-background: #e5e7eb;
    --button-color: #3882f6;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.footer {
    background-color: var(--dark-background);
}

.footer,
a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--secondary-text);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    display: flex;
    height: 75px;
    color: var(--main-text);
    flex: 1;
    align-items: center;
}

.logo {
    flex: 1;
    padding-left: 120px;
}

.link-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 220px;
}

.welcome-section {
    display: flex;
    height: 52vh;
    background-color: var(--dark-background);
    color: var(--main-text);
}

.left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-right: -50px;
}

.right-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left: -50px;
}

#awesome-text {
    font-size: 48px;
    font-weight: bolder;
    
}

#main-img {
    width: 700px;
    height: 465px;
    border-radius: 15px;
}

button {
    background-color: var(--button-color);
    color: var(--main-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.info-section {
    background-color: #fff;
    color: var(--dark-text);
    font-family: 'Roboto', sans-serif;
    height: 52vh;
}

#info-header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.info-images {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.info-img {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 20px;
    border: 5px solid var(--dark-background);
}

.info-text {
    display: flex;
    justify-content: space-evenly;
}

.info-img-text {
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    background-color: var(--quote-background);
}

#quote-text {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style:italic;
}

.quote-container {
    height: 250px;
    width: 600px;
}

.call-to-action {
    height: 52vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    height: 200px;
    width: 1000px;
    background-color: var(--button-color);
    border-radius: 20px;
}

.footer {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    flex: 1;
}