@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --dark-background: #1f2937;
    --button-color: #3882f6;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.footer {
    background-color: var(--dark-background);
}

.footer,
a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--secondary-text);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    display: flex;
    height: 75px;
    color: var(--main-text);
    flex: 1;
    align-items: center;
}

.logo {
    flex: 1;
    padding-left: 120px;
}

.link-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 220px;
}

.content {
    display: flex;
    height: 50vh;
    background-color: var(--dark-background);
    color: var(--main-text);
}

.left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.right-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#awesome-text {
    font-size: 48px;
    font-weight: bolder;
    
}

#main-img {
    width: 450px;
    height: 299px;
    
}

button {
    background-color: var(--button-color);
    color: var(--main-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    flex: 1;
}